@import "tailwindcss";

@theme inline {
  --shadow-brutalist: 2px 2px 0px 0px rgba(0,0,0,1);
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    background: #ffffff;
    color: #000;
    font-family: 'Inter', ui-sans-serif, system-ui;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
  
  .bg-grid {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, #f0f0f0 1px, transparent 1px),
      linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
  }
}
